<h1>Tu pedido</h1>

<p>Numero de pedido: </p>
<%= @user.reservations.last.id%> 

<p>Servicio a Nombre de:<p>
<%= @user.reservations.last.name%>

<p>Direccion del evento:<p>
<%= @user.reservations.last.address%>

<p>Fecha del evento:<p>
<%= @user.reservations.last.date%>

<p>Hora del evento:<p>
<%= @user.reservations.last.time%>

<p>Telefono de contacto:<p>
<%= @user.reservations.last.phone%>

<p>Monto a Pagar:<p>
<%= @user.reservations.last.total%>


<p>detalle de tu pedido:<p>




<p></p>


<p> </p>

<p>


</p>
