<h1>Todo para tu fiesta</h1>

Numero de pedido:
<%= @user.reservations.last.id%> 

Servicio a Nombre de:
<%= @user.reservations.last.name%>

Direccion del evento:
<%= @user.reservations.last.address%>

Fecha del evento:
<%= @user.reservations.last.date%>

Hora del evento:
<%= @user.reservations.last.time%>

Telefono de contacto:
<%= @user.reservations.last.phone%>

Monto a Pagar:
<%= @user.reservations.last.total%>

GRACIAS POR TU PREFERENCIA!