<h1>Detalles de tu compra</h1>
<br><br><br><br>
<h3 class="text-left col-md-offset-2">Numero de personas:  <%= @details[:persons]%> personas</h3>
<%if @details[:glass_person]%>
  <h3 class="text-left col-md-offset-2">Numero de vasos por persona:  <%= @details[:glass_person] %> vasos aproximadamente</h3>
  <h3 class="text-left col-md-offset-2">Tamaño de vaso elegido:  <%= @details[:size] %></h3>
<%end%>

<%if @details[:meat]%>
  <h3 class="text-left col-md-offset-2">Corte con el que acompañara su arrachera:  <%= @details[:meat] %></h3>
<%end%>

  <h3 class="text-left col-md-offset-2">El total de tu compra es: <%= @total%>.00 mxn</h3>