<h1 class = "title">Elige tu forma de pago</h1>
<div class="btns">
  <form class="col-xs-11 col-xs-offset-0 col-md-4 col-md-offset-2" target="_blank" name="formularioPago" method="post" action="https://www.pagofacil.net/st/public/Payform">
  <input type="hidden" value="49041a7180a23873dae840bbc4edba9213a58acd" name="idSucursal">
  <input type="hidden" value="dc3d55954e2150e5f0962b167c5016bf9b7b037a" name="idUsuario">
  <input type="hidden" value="1" name="idServicio">
  <input type="hidden" value="1372109726" name="idPedido"> <input type="hidden" value="<%= Reservation.last.total %>" name="monto">
  <input class="btn-payment" name="submit" type="submit" value="Tarjeta de débito o crédito">
  </form>


  <form class="col-xs-11 col-xs-offset-0 col-md-4 col-md-offset-2" action="https://compropago.com/comprobante" method="post"><input type="hidden" name="public_key" value="pk_test_7576abf251548f6a62"><input type="hidden" name="product_price" value="<%= Reservation.last.total %>"><input type="hidden" name="product_name" value="Paquete"><input type="hidden" name="product_id" value=""><input type="hidden" name="customer_name" value=""><input type="hidden" name="customer_email" value=""><input type="hidden" name="customer_phone" value=""><input type="hidden" name="image_url" value=""><input type="hidden" name="success_url" value=""><input type="hidden" name="failed_url" value=""><input type="submit" class="btn-payment" value="Oxxo, seven eleven, etc."  border="0" name="submit" alt="Pagar con ComproPago"></form>
</div>
<div class="col-md-4">
</div>
<br><br><br><br><br>

<h1 class="title">Detalles de tu compra: </h1>
<% @reservation = Reservation.last %>
<h2 class="text-center">Nombre: <%=@reservation.name %></h2>
<h2 class="text-center">Dirección: <%=@reservation.address %></h2>
<h2 class="text-center">Fecha: <%=@reservation.date %></h2>
<h2 class="text-center">Hora: <%=@reservation.time %> hrs</h2>
<h2 class="text-center">Total: <%=@reservation.total %>0 mxn</h2>