<!DOCTYPE html>
<html>
  <head>
    <title>AllParty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class=" nav-nav">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%= link_to "Inicio",   '#', :class=>"linki" %></li>
          <li><%= link_to "Paquetes",   '#', :class=>"linki" %></li>
          <li><%= link_to "Gallery", '#', :class=>"linki" %></li>
          <li><%= link_to "About", '#', :class=>"linki" %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Login", '#', :class=>"linki" %></li>
          <li><%= link_to "Logout", '#', :class=>"linki" %></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>